//! **************************************************************************
// Written by: Map P.68d on Wed Nov 20 13:10:54 2019
//! **************************************************************************

SCHEMATIC START;
COMP "VGA_HS_O" LOCATE = SITE "N6" LEVEL 1;
COMP "VGA_VS_O" LOCATE = SITE "P7" LEVEL 1;
COMP "vgab<1>" LOCATE = SITE "R7" LEVEL 1;
COMP "vgab<2>" LOCATE = SITE "T7" LEVEL 1;
COMP "vgar<0>" LOCATE = SITE "U7" LEVEL 1;
COMP "vgar<1>" LOCATE = SITE "V7" LEVEL 1;
COMP "vgar<2>" LOCATE = SITE "N7" LEVEL 1;
COMP "vgag<0>" LOCATE = SITE "P8" LEVEL 1;
COMP "vgag<1>" LOCATE = SITE "T6" LEVEL 1;
COMP "CLK" LOCATE = SITE "V10" LEVEL 1;
COMP "vgag<2>" LOCATE = SITE "V6" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "cnt_13" BEL "cnt_14" BEL "cnt_15" BEL
        "display/v_count_9" BEL "display/v_count_8" BEL "display/v_count_7"
        BEL "display/v_count_6" BEL "display/v_count_5" BEL
        "display/v_count_4" BEL "display/v_count_3" BEL "display/v_count_2"
        BEL "display/v_count_1" BEL "display/h_count_0" BEL
        "display/h_count_9" BEL "display/h_count_8" BEL "display/h_count_7"
        BEL "display/h_count_6" BEL "display/h_count_5" BEL
        "display/h_count_4" BEL "display/h_count_3" BEL "display/h_count_2"
        BEL "display/h_count_1" BEL "display/v_count_0" BEL "CLK_BUFGP/BUFG";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
SCHEMATIC END;

